{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% comment %} {% load account socialaccount %} {% endcomment %}
{% block title %}Login - Tantorial{% endblock %}

{% block content %}
<div class="container">
  {% for message in messages %}
<div class="alert alert-alert">
    {{message}}
</div>
{% endfor %}
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-2 p-sm-4">
          <h5 class="card-title text-center mb-3 fw-light fs-5">Login To Tantorial</h5>
          <form class="needs-validation" method="post" novalidate>

            <div class="form-floating mb-3">
              {% csrf_token %}
          
      {{password_reset_form|crispy}}
            <div class="d-grid mt-3">
                <button class="btn btn-lg mx-2 rounded-full bg-orange-400 shadow-lg shadow-red-500 hover:shadow-orange-200 font-bold font-serif type="submit"">Reset Password</button>
            </div>
  
            <!-- <p class='text-center display-6'>OR</p> -->
          </form>
                       
 </div>
      </div>
    </div>
  </div>
</div>
</body>

{% endblock %}
