{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% comment %} {% load account socialaccount %} {% endcomment %}

{% block title %}{% trans "login" %}{% endblock %}

{% block content %}

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-2 p-sm-4">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Login to Tantorial</h5>
            <form class="needs-validation p-1" method="post" action="{% url 'account_login' %}" novalidate>
              <div class='mb-3'>
                {% csrf_token %}
                <!-- <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> -->
                {{form|crispy}}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
              </div>

              <div class="d-grid">
                   <button class="btn btn-lg mx-2 rounded-full bg-orange-400 shadow-lg shadow-red-500 hover:shadow-orange-200 font-bold font-serif type="submit"">Login</button>
              </div>
              <div>
                <a href="{{ signup_url }}">Don't Have an Account?</a>
              </div>
              <div>
                <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
              </div>
              <hr class="my-4">

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
