{% extends 'dashboard/dashboardbase.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% comment %} {% load account socialaccount %} {% endcomment %}
{% block title %}create_asseement{% endblock %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="container">
    <div class="mx-5">
        <div class="row px-5">
            <p class="text-2xl mb-3">Create an assessment</p>
            {% for assessment in assessments %}
            
            <div class="col col-12 col-sm-12 col-md-6 p-md-5 shadow-2xl hover:bg-gradient-to-r from-green-300 my-4">
                <a href="{% url 'tantorial_assessment:create_assessment' assessment.slug %}">
                  <p class="fw-bold text-2xl text-black capitalize my-3">
                    {{assessment.title}}
                </p>
                <p class="italic capitalize">
                    {{assessment.description}}
                </p>   
                </a>
            </div>
            {% endfor %}
            
            
        </div>

    </div>
</div>
{% endblock content %}