{% extends 'dashboard/dashboardbase.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% comment %} {% load account socialaccount %} {% endcomment %}
{% block title %}create_asseement{% endblock %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-8 mx-auto">
      <div class="card border-0 shadow rounded-3 mb-5">
        <div class="card-body p-2 p-sm-4">
          <h5 class="card-title text-center mb-3 fw-light fs-5">Create Evaluation for Students</h5>
          <form class="needs-validation" method="post" novalidate>

            <div class="form-floating mb-3">
              {% csrf_token %}
               {{form.media.js}}
              {{form|crispy}}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
            </div>
            <div class="d-grid">
                <button class="btn btn-lg mx-2 rounded-full bg-orange-400 shadow-lg shadow-red-500 hover:shadow-orange-200 font-bold font-serif" type="submit">Save</button>
            </div>
            <!-- <p class='text-center display-6'>OR</p> -->
          </form>
                       
 </div>
      </div>
    </div>
  </div>
</div>
</body>

{% endblock %}
