{% extends 'base.html' %}

{% block title %}Tantorial- Personalise{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="mx-5">
        <div class="row px-5">
            <p class="text-2xl mb-3">Create an account</p>
            <div class="col col-md-6 col-12 col-sm-6 p-5 shadow-2xl hover:bg-gradient-to-r from-green-300">
                <a href="{% url 'tantorial_auth:student-register' %}">
                  <p class="fw-bold text-2xl text-black">
                    Student
                </p>
                <p class="italic">
                    For Students and class Participant
                </p>   
                </a>
               
            </div>
            <div class="col col-md-6 col-12 col-sm-6 p-5 shadow-2xl hover:bg-gradient-to-r from-red-200">
                <a href="{% url 'tantorial_auth:teacher-register' %}">
                  <p class="fw-bold text-2xl text-black">
                    Teacher
                </p>
                <p class="italic">
                    For Teachers, tutors and class coordinators
                </p>  
                </a>
                
            </div>
            <div class="col col-md-6 col-12 col-sm-6 p-5 shadow-2xl hover:bg-gradient-to-r from-yellow-300">                <a href="#">
                <a href="{% url 'tantorial_auth:parent-register' %}">
                 <p class="fw-bold text-2xl text-black">
                    Parent
                </p>
                <p class="italic">
                    For Parents and Guardians
                </p>   
                </a>
                
            </div>
            <div class="col col-md-6 col-12 col-sm-6 p-5 shadow-2xl hover:bg-gradient-to-r from-indigo-200"> 
                <a href="{% url 'tantorial_auth:school-register' %}">
                   <p class="fw-bold text-2xl text-black">
                    School
                </p>
                <p class="italic">
                    For School Owners, admins and learning centers
                </p>  
                </a>
               
            </div>
        </div>

    </div>
</div>
{% endblock content %}